venv/
echo "simulation_output_2(a).csv" >> .gitignore
echo "simulation_output_2(b).csv" >> .gitignore
echo "simulation_output_2(c).csv" >> .gitignore
echo "sonogram_2(a)" >> .gitignore
echo "sonogram_2(b)" >> .gitignore
echo "sonogram_2(c)" >> .gitignoresimulation_output_2(a).csv
simulation_output_2(b).csv
simulation_output_2(c).csv
sonogram_2(a)
sonogram_2(b)
sonogram_2(c)
sonogram_2(a)
sonogram_2(b)
sonogram_2(c)
sonogram_2(a)
simulation_output_2(a).csv
sonogram_2(a).png
sonogram_2(b).png
sonogram_2(c).png
simulation-rk4_output_2(a).csv
simulation-rk4_output_2(b).csv
simulation-rk4_output_2(c).csv
sonogram-rk4_2(a)
sonogram-rk4_2(a).png
sonogram-rk4_2(b).png
sonogram-rk4_2(c).png
waveform_2(a).png
waveform_2(b).png
waveform_2(c).png
simulation_output_1(a).csv
simulation-rk4_output_1(a).csv
sonogram-rk4_1(a).png
simulation-rk4_output_1(b).csv
sonogram-rk4_1(b).png
simulation_output_2(a).wav
simulation-rk4_output_2(a).wav
simulation-rk4_output_2(b).wav
simulation-rk4_output_2(c).wav
simulation-rk4_output_1(a).wav
simulation-rk4_output_1(b).wav
simulation-rk4_output_1(a)_03s.csv
simulation-rk4_output_1(b)_03s.csv
simulation-rk4_output_1(b)_03s.wav
simulation-rk4_output_1(a)_03s.wav
sonogram-rk4_1(a)_03s.png
sonogram-rk4_1(b)_03s.png
simulation_output_normal.csv
sonogram-rk4_normal.png
waveform_1(a).png
simulation_output_test1.csv
sonogram_test1.png
sonogram-test1.png
simulation_results_1_x0=0.01/
spectrogram_images_1_x0=0.01/
spectrogram_images_1_x0=0.02/
spectrogram_images_1_x0=0.04/
spectrogram_images_2_x0=0.04/
spectrogram_images_2_x0=0.02/
spectrogram_images_2_x0=0.01/
simulation_results_1_x0=0.02/
simulation_results_1_x0=0.04/
simulation_results_1_x0=0.02/
simulation_results_2_x0=0.01/
simulation_results_2_x0=0.02/
simulation_results_2_x0=0.04/
parameter_map_1_x0=0.01.png
parameter_map_1_x0=0.02.png
parameter_map_1_x0=0.04.png
parameter_map_2_x0=0.04.png
parameter_map_2_x0=0.02.png
parameter_map_2_x0=0.01.png
parameter_map_2_x0=0.01_ver1.1.png
parameter_map_1_x0=0.01_ver1.1.png
parameter_map_1_x0=0.02_ver1.1.png
parameter_map_2_x0=0.02_ver1.1.png
parameter_map_3_x0=0.04_ver1.1.png
parameter_map_1_x0=0.04_ver1.1.png
parameter_map_2_x0=0.04_ver1.1.png
parameter_map_1_x0=0.01.csv
parameter_map_1_x0=0.02.csv
parameter_map_1_x0=0.04.csv
parameter_map_2_x0=0.04.csv
parameter_map_2_x0=0.02.csv
parameter_map_2_x0=0.01.csv
simulation_results_1_x0=0.02_low parameters/
simulation_results_2_x0=0.02_low parameters/
spectrogram_images_1_x0=0.02_low parameters/
spectrogram_images_2_x0=0.02_low parameters/
simulation_results_1_x0=0.02_low parameters epsilon/
simulation_results_2_x0=0.02_low parameters epsilon/
spectrogram_images_1_x0=0.02_low parameters epsilon/
spectrogram_images_2_x0=0.02_low parameters epsilon/
parameter_map_2_x0=0.02_low parameters.csv
parameter_map_1_x0=0.02_low parameters.csv
parameter_map_1_x0=0.02_low parameters epsilon.csv
parameter_map_2_x0=0.02_low parameters epsilon.csv
parameter_map_2_x0=0.02_low parameters epsilon.png
parameter_map_1_x0=0.02_low parameters epsilon.png
parameter_map_1_x0=0.02_low parameters.png
parameter_map_2_x0=0.02_low parameters.png
parameter_map_1_x0=0.02 add.csv
parameter_map_2_x0=0.02 add.csv
parameter_map_2_x0=0.02 add.png
parameter_map_1_x0=0.02 add.png
waveform_1_x0=0.02_low parameters epsilon/
waveform_1_x0=0.02/
psd_graphs_1_x0=0.02_low parameters epsilon/
psd_graphs_2_x0=0.02_low parameters epsilon/
psd_graphs_2_x0=0.02/
psd_graphs_1_x0=0.02/
simulation_results_1_f0=0.1e7_x0=0.02_low epsilon/
simulation_results_1_f0=0.4e7_x0=0.02_low epsilon/
simulation_results_1_f0=0.7e7_x0=0.02_low epsilon/
simulation_results_2_f0=0.7e7_x0=0.02_low epsilon/
simulation_results_2_f0=0.4e7_x0=0.02_low epsilon/
simulation_results_2_f0=0.1e7_x0=0.02_low epsilon/
simulation_results_2_f0=0.1e7_x0=0.02/
simulation_results_1_f0=0.1e7_x0=0.02/
simulation_results_1_f0=0.4e7_x0=0.02/
simulation_results_1_f0=0.7e7_x0=0.02/
simulation_results_2_f0=0.7e7_x0=0.02/
simulation_results_2_f0=0.4e7_x0=0.02/
Complex/
spectrogram_images_1_f0=0.1e7_x0=0.02_low epsilon/
spectrogram_images_1_f0=0.4e7_x0=0.02_low epsilon/
spectrogram_images_2_f0=0.1e7_x0=0.02_low epsilon/
spectrogram_images_2_f0=0.4e7_x0=0.02_low epsilon/
spectrogram_images_2_f0=0.7e7_x0=0.02_low epsilon/
spectrogram_images_1_f0=0.7e7_x0=0.02_low epsilon/
spectrogram_images_1_f0=0.7e7_x0=0.02/
spectrogram_images_2_f0=0.7e7_x0=0.02/
spectrogram_images_2_f0=0.4e7_x0=0.02/
spectrogram_images_1_f0=0.4e7_x0=0.02/
spectrogram_images_1_f0=0.1e7_x0=0.02/
spectrogram_images_2_f0=0.1e7_x0=0.02/
spectrogram_images_1_f0=0.05e7_x0=0.02/
spectrogram_images_1_f0=0.05e7_x0=0.02_low epsilon/
simulation_results_1_f0=0.05e7_x0=0.02_low epsilon/
simulation_results_1_f0=0.05e7_x0=0.02/
simulation_results_1_f0=4.9e4_x0=0.02/
simulation_results_1_f0=4.9e4_x0=0.02_low epsilon/
spectrogram_images_1_f0=4.9e4_x0=0.02_low epsilon/
spectrogram_images_1_f0=4.9e4_x0=0.02/
simulation_results_x0=0.02_linked_eps/
simulation_results_x0=0.02_linked_low eps/
simulation_images_x0=0.02_linked_low eps/
simulation_images_x0=0.02_linked_eps/
spectrogram_images_x0=0.02_linked_eps/
spectrogram_images_x0=0.02_linked_low eps/
