venv/
echo "simulation_output_2(a).csv" >> .gitignore
echo "simulation_output_2(b).csv" >> .gitignore
echo "simulation_output_2(c).csv" >> .gitignore
echo "sonogram_2(a)" >> .gitignore
echo "sonogram_2(b)" >> .gitignore
echo "sonogram_2(c)" >> .gitignoresimulation_output_2(a).csv
simulation_output_2(b).csv
simulation_output_2(c).csv
sonogram_2(a)
sonogram_2(b)
sonogram_2(c)
sonogram_2(a)
sonogram_2(b)
sonogram_2(c)
sonogram_2(a)
simulation_output_2(a).csv
sonogram_2(a).png
sonogram_2(b).png
sonogram_2(c).png
