venv/
echo "simulation_output_2(a).csv" >> .gitignore
echo "simulation_output_2(b).csv" >> .gitignore
echo "simulation_output_2(c).csv" >> .gitignore
echo "sonogram_2(a)" >> .gitignore
echo "sonogram_2(b)" >> .gitignore
echo "sonogram_2(c)" >> .gitignore